
/* Html page */

html {  
    text-align: center;
}


/* Title */

.title {
    text-align: center;
}

h1 {
    font-size: 300%;
}


/* header */ 

header {
    background-color: tan;
}


/* image */

.logo {
    max-height: 75px;
    width: auto;
}


/* article */

.section_1 {
    background: url("images/img_fond_section_1.jpg") center;
    background-size: cover;
    color : wheat;
}

.section_2 {
    background-color: beige;
}

.section_3 {
    background-color: cadetblue;
}

footer {
    background-color: cornflowerblue;
}


/* Span */

.top_align_left {
    position: relative;
    left: 15%;
}

.top_align_right {
    position: absolute;
    right : 15%;
}

/* Table */

table {
    empty-cells: hide;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: center;
}

th:empty, td:empty {
    visibility: hidden;
}

th {
        border: 1px solid white;
        background-color: rgb(74, 74, 231);
}

td {
        border: 1px solid steelblue;
        background-color: rgb(245, 235, 235);
}


/* Other */